* {
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
}

header {
  align-items: center;
  background: #E5F3F2;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto Slab', serif;
  font-size: 2.1em;
  padding: 2.5vh;
}

header h1 {
  color: #6D6E71;
  margin: 0 0 2.5vh 0;
}

header h1 span {
  color: #00A79D;
}

input {
  border: solid 2px #D1D3D4;
  font-size: 1em;
  margin: 1.15vh;
  padding: .3% 1%;
  width: 55vw;
}

input[type='search'] {
  font-size: 2.1em;
  margin: 4vh;
}

input[type='submit'] {
  background-color: #00A79D;
  border: none;
  color: #FFF;
  cursor: pointer;
  padding: 0 0 .9vh 0;
}

input[type='submit']:hover {
  background-color: #045E55;
}

input::placeholder {
  color: #939598;
}

.idea-input {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.idea-input--body {
  border: solid 2px #D1D3D4;
  font-size: 1em;
  height: 1.45em;
  margin: 1.15vh;
  padding: .3% 1%;
  resize: vertical;
  width: 55vw;
}

.idea-input--body::placeholder {
  color: #939598;
}

.js-idea {
  border-bottom: solid 1px #D1D3D4;
  display: flex;
  flex-direction: column;
  width: 55vw;
}

.delete-ico {
  background-image: url('../img/delete.svg');
  display: inline-block;
  margin: 0;
}

.delete-ico:hover {
  align-self: end;
  background-image: url('../img/delete-hover.svg');
}

.upvote-ico:hover {
  background-image: url('../img/upvote-hover.svg');
}
.upvote-ico {
  background-image: url('../img/upvote.svg');
}

.downvote-ico {
  background-image: url('../img/downvote.svg') ;
}

.downvote-ico:hover {
  background-image: url('../img/downvote-hover.svg');
}

.js-idea h2 {
  color: #6D6E71;
}

.js-idea--body {
  color: #939598;
}

.js-idea--container1 {
  display: flex;
  justify-content: space-between;
  margin: 1em 0;
}

.js-idea--container2 {
  display: flex;
}

.js-idea--container2 .ico{
  display: flex;
  margin: 1em;
}

.ico {
  background-repeat: no-repeat;
  height: 2em;
  width: 2em;
}

.quality {
  color: #6D6E71;
  margin: 1em;
}

.hidden {
  display: none;
}

@media screen and (max-width: 600px) {
  
  input {
    width: 85vw;
    padding: 0;
  }

  .ico {
    height: 6vh;
    width: 6vh;
  }

  .js-idea {
    width: 85vw;
  }

  .idea-input--body {
    height: 3em;
    overflow-wrap: normal;
    padding-top: 0;
    padding-bottom: 2em;
    width: 85vw;
  }

  .js-idea--container2 .ico{
    margin: .5em;
  }
}